<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="AssetScan Agent" 
           Language="1033" 
           Version="3.0.0.0" 
           Manufacturer="AssetScan"
           UpgradeCode="YOUR-GUID-HERE">
    
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="AssetScan Agent" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
    <!-- UI -->
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="AssetScan Agent" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="AgentExe" Guid="*">
        <File Id="AssetscanAgentExe" Source="$(var.AgentPath)\assetscan-agent.exe" KeyPath="yes" />
        <ServiceInstall
          Id="AgentService"
          Name="AssetScanAgent"
          DisplayName="AssetScan Agent"
          Description="Monitoring and security agent"
          Start="auto"
          Type="ownProcess"
          ErrorControl="normal" />
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="AssetScanAgent" Wait="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>