<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  
  <Package Name="AssetScan Agent" Manufacturer="AssetScan" Version="3.0.0" UpgradeCode="A1B2C3D4-E5F6-4789-8A9B-CDEF01234567">
    
    <MediaTemplate EmbedCab="yes" />
    
    <Property Id="SERVER_URL" Value="http://localhost:7474" />
    <Property Id="API_KEY" Value="default_key" />
    <Property Id="INTERVAL" Value="60" />
    
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="AssetScan">
        
        <Component Id="AgentExe" Guid="98765432-10AB-CDEF-0123-456789ABCDEF">
          <File Id="AgentExecutable" Source="..\agent\target\release\assetscan-agent.exe" KeyPath="yes" />
                          
          <RegistryKey Root="HKLM" Key="Software\AssetScan\Agent">
             <RegistryValue Name="ServerUrl" Type="string" Value="[SERVER_URL]" />
             <RegistryValue Name="ApiKey" Type="string" Value="[API_KEY]" />
             <RegistryValue Name="IntervalMinutes" Type="integer" Value="[INTERVAL]" />
          </RegistryKey>

          <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Run">
             <RegistryValue Name="AssetScanAgent" Type="string" Value="&quot;[#AgentExecutable]&quot;" />
          </RegistryKey>
        </Component>

      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="AssetScan Agent" Level="1">
      <ComponentRef Id="AgentExe" />
    </Feature>
    
  </Package>
</Wix>